includes:
    - phpstan-baseline.neon
parameters:
    level: 4
    paths:
        - src
        - publishable
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
